* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    background-color: hotpink;
    padding: 15px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: white;
    font-size: 20px;
  }
    
  .content {
    text-align: center;
    margin: 50px 0;
  }
  
  .cat-image {
    max-width: 100%;
    height: auto;
    /* border-radius: 55px; */
  }
  
  .info {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  .date{
    /* text-align: center; */
    color: gray;
    padding: 15px;
    text-align: left;
 
  }